.eref{font-family: Verdana, Arial; font-size: 10px; font-weight: bold; color:#000066;}
.eref A{font-family: Verdana, Arial; font-size: 10px; font-weight: bold; text-decoration:underline;}
.cellstrap{font-family: Verdana, Arial; font-size: 10px; color:#000066;}
.h2{font-family: Verdana, Arial; font-size: 12px;font-weight:bold;color:#000066;}
.title{font-family: Verdana, Arial; font-size: 17px; font-weight: bold; color:#000066;}
.fulltext{font-family: Verdana, Arial; font-size: 10px; font-weight: bold; color:#000066; text-decoration:none;}
.artTitle{font-family: Verdana, Arial; font-size: 17px; font-weight: bold; color:#000066;}
.summary{text-decoration:none; font-weight:bold; font-family: Verdana, Arial; font-size: 10px; color:#000066;}
